# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa

# CocoaPods
Pods
TravelWorldPassport/atlassian-ide-plugin.xml
TravelWorldPassport/.idea/.name
TravelWorldPassport/.idea/encodings.xml
TravelWorldPassport/.idea/misc.xml
TravelWorldPassport/.idea/modules.xml
TravelWorldPassport/.idea/TravelWorldPassport.iml
TravelWorldPassport/.idea/vcs.xml
TravelWorldPassport/.idea/workspace.xml
TravelWorldPassport/.idea/xcode.xml
TravelWorldPassport/.idea/scopes/scope_settings.xml
